@mixin inter24B {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.music-container {
  margin-top: 32px;

  .music-header {
    @include inter24B;
    color: #fff;
  }

  .music-comp-container {
    margin-top: 16px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;

    .music-component {
      display: grid;
      grid-template-columns: 73px auto;
      grid-template-rows: 73px;
      background-color: #434343;
      box-shadow: 0 6px 12px rgba(#000, 0.12);
      border-radius: 12px;
      overflow: hidden;
      transition: all 0.1s ease-in;
      position: relative;

      .music-album-thumbnail {
        transition: all 0.1s ease-in;

        img {
          width: 73px;
        }
      }

      .music-title {
        @include inter24B;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 12px;
        transition: all 0.1s ease-in;
      }

      .name-fade {
        height: 100%;
        width: 60px;
        background: linear-gradient(90deg, rgba(#434343, 0), rgba(#434343, .65), rgba(#434343, 1));
        position: absolute;
        right: 0;
        transition: all 0.1s ease-in;
        transition-delay: 0.1s;
      }
    }

    .active {
      background-color: #F1B61A;

      .music-title {
        color: #121212;
      }

      .name-fade {
        opacity: 0;
        transition-delay: 0s;
      }
    }
  }
}