@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu:wght@500&display=swap');

body, html {
  margin: 0;
}

$violet: #2A0B5C;
$yellow: #F1B61A;

body {
  margin: 40px 15px 90px;
  background: $violet;
}

@mixin inter24B {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;  
}

@mixin inter36B {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;  
}

@mixin ubuntu12R {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
  
* {
  box-sizing: border-box;
  outline: none;
  border: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
}